<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>目前的接口:</p>
  <ul>
    <li>
      <a href="/cnode/indexList">cnode首页列表数据-GET</a>
      <p>参数:page = [number] & tab = [all | good | share | ask | job | dev]</p>
    </li>
    <li>
      <a href="/sf/indexList">segmentfault首页列表数据-GET</a>
      <p>暂无参数</p>
    </li>
    <li>
      <a href="/dytt/dyttNew">电影天堂最新电影数据-GET</a>
      <p>参数:page = [number]</p>
    </li>
    <li>
      <a href="/dytt/dyttSearch">电影天堂搜索接口-GET</a>
      <p>参数:keyword = [string] & page = [number] & pageSize = [number] & totalResult = [number]</p>
    </li>
    <li>
      <a href="/exchangeRate/CNY-USD">近九十天汇率数据</a>
      <p>请求 /exchangeRate/${source}-${target}</p>
      <div>
        <input type="text" id="origin" />
        -
        <input type="text" id="target" />
        <button id="downloadBtn">下载</button>
      </div>
    </li>
  </ul>
  <p>还在写。。。</p>
</body>
<script>
  let originElm = document.querySelector('#origin');
  let targetElm = document.querySelector('#target');
  let downloadBtnElm = document.querySelector('#downloadBtn');

  let lock = false;
  downloadBtnElm.addEventListener('click', function () {
    let originVal = originElm.value;
    let targetVal = targetElm.value;
    if (!(originVal && targetVal)) {
      window.alert('两个都得填');
      return;
    };
    if (lock) {
      window.alert('还没下载完，等会儿');
      return;
    }
    lock = true;
    let originValupperCase = originVal.toUpperCase();
    let targetValupperCase = targetVal.toUpperCase();
    fetch('/exchangeRate/' + originValupperCase + '-' + targetValupperCase)
    .then(res => res.blob().then(blob => {
      var filename = `${originValupperCase}-${targetValupperCase}.csv`
      if (window.navigator.msSaveOrOpenBlob) {
        navigator.msSaveBlob(blob, filename);  //兼容ie10
      } else {
        var a = document.createElement('a');
        document.body.appendChild(a) //兼容火狐，将a标签添加到body当中
        var url = window.URL.createObjectURL(blob);   // 获取 blob 本地文件连接 (blob 为纯二进制对象，不能够直接保存到磁盘上)
        a.href = url;
        a.download = filename;
        a.target = '_blank'  // a标签增加target属性
        a.click();
        a.remove()  //移除a标签
        window.URL.revokeObjectURL(url);
      }

    }))
    .finally(() => {
      lock = false;
    });
  })
</script>
</html>