<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>目前的接口:</p>
  <ul>
    <li>
      <a href="/cnode/indexList">cnode首页列表数据</a>
      <p>参数:page = [number] & tab = [all | good | share | ask | job | dev]</p>
    </li>
    <li>
      <a href="/sf/indexList">segmentfault首页列表数据</a>
      <p>暂无参数</p>
    </li>
  </ul>
  <p>还在写。。。</p>
</body>

</html>